* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  font-size: 10px;
}

body {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

@font-face {
  font-family: "MeteoconsRegular";
  src: url("./fonts/meteocons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
